@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/font.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "MyFont", sans-serif;
  margin: 0;
  padding: 0;
}
